<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
  </head>
  <body>
    <div class="container" [ngStyle]="{backgroundImage:'url(assets/img/background.jpg'}">
        <div class="box">
            <img src="assets/img/ProfilePicture.jpg" alt="" class="box-img">
            <h1>
                Jae Min Kim
            </h1>
            <h5>
                Software Developer
            </h5>
            <p>
                Hey guys! I am a recent graduate from Washington State University 
                with a Bachelor of Science in Computer Science! Im passionate not only 
                about tech, but also about gaming, music, hiking and alot of other activities. 
                <br><br>Im currently looking for employment, please contact me if you have any questions.
                You can find my resume, Github, and LinkedIn at the top of the page.
                <br>
                <br>
                Thanks!
            </p>
        </div>
    </div>
    </body>
</html>



<!--<div id="page-wrap">
    <h1>About me</h1>
    <div class="container">
        <img id="profile-picture" src="assets/img/ProfilePicture.jpg" alt="Profile Picture" id="pic" />
    </div>
    <div id="objective">
    <p>Hey guys! I am a recent graduate from Washington State University 
    with a Bachlor of Science in Computer Science! Im passionate not only 
    about tech, but also about gaming, music, hiking and alot of other activities. </p>
    </div>
</div>-->