#aboutmeMenuButton {
    color: white;
    padding: 10px;
}

#resumeMenuButton {
    color: white;
    padding: 10px;
}

#githubMenuButton {
    color: white;
    padding: 10px;
}

#linkedInMenuButton {
    color: white;
    padding: 10px;
}