<header>
    <nav class = "navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href = "https://jmk-resume-website.herokuapp.com/" class = "navbar-brand">
                JaeMinKim
            </a>
        </div>

        <ul class = "navbar-nav">
           <li> <a id = "aboutmeMenuButton" routerLink="/aboutme" routerLink="active" (click)=routeToAboutme()> AboutMe </a> </li>
           <li> <a id = "resumeMenuButton" routerLink="/resume" routerLink="active" (click)=routeToResume()> Resume </a> </li>
           <li> <a href="https://github.com/ajaeminkim93" id = "githubMenuButton" target="_blank"> Github </a> </li>
           <li> <a href="https://www.linkedin.com/in/jaeminkim-cs/" id = "linkedInMenuButton" target="_blank"> LinkedIn </a> </li>

        </ul>
        
    </nav>
</header>