<body>
    <div id="page-wrap">
        <div id="contact-info" class="vcard">
        
            <h1 class="fn">Jae Min Kim</h1>
        
            <p>
                Phone: <span class="tel">(253) 381-9495)</span><br />
                Email: <a class="email" href="mailto:Jae.m.kim@wsu.edu">Jae.m.kim@wsu.edu</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                Motivated recent Computer Science Graduate, eager to contribute to team success through, 
                learning, improving, and hard work. Passionate about software development and ready to grow. 
                Proven success in leadership, teaching, and problem solving.
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            <dt>Technical Skills</dt>
            <dd>
                <h2>Languages</h2>
                <p>Java, C++, C, C#, Python3, SQL, HTML, CSS, Javascript, Typescript</p>
                
                <h2>Tools and Frameworks</h2>
                <p>AngularJS, Heroku, Spring, Spring Boot, H2 Database, MS Visual Studio, Visual Studio Code, Android Studio, Spring Boot, Firebase, Linux, Git, GraphQL, Node JS, PostgreSQL, Wireshark, Vim, Unity Engine,</p>
            </dd>
            
            <dd class="clear"></dd>
            <dt>Education</dt>
            <dd>
                <h2>Washington State University</h2>
                <p>
                    <strong>Degree:</strong> <em id="degree"> Bachelor of Science</em><br />
                    <strong>Major:</strong> Computer Science <i class = "small"> July 2020 </i>
                </p>
            </dd>



            <dd class="clear"></dd>
            <dt>Projects</dt>
            <dd>
                <h2>ToDo Application <span>July 2020</span></h2>
                <ul>
                    <li><span>Github UI Link: </span><a href="https://github.com/ajaeminkim93/ToDo-UI"> https://github.com/ajaeminkim93/ToDo-UI</a></li>
                    <li><span>Github Backend Link: </span><a href="https://github.com/ajaeminkim93/ToDo-Backend"> https://github.com/ajaeminkim93/ToDo-Backend</a></li>
                    <br>
                    <li>Created a Fullstack "Task Tracker" application that tracks a list of tasks.</li>
                    <li>Improved Angular, typescript, javascript skills</li>
                    <li>Familiarize myself with Java Spring Boot to create services for the app.</li>
                    <li>Used VCS(GIT) to manage my projects</li>
                </ul>
                
                <h2>SpaceHunter - Android Application <span>June 2020</span></h2>
                <ul>
                    <li><span>Github UI Link: </span><a href="https://github.com/ajaeminkim93/SpaceHunter"> https://github.com/ajaeminkim93/SpaceHunter</a></li>
                    <br>
                    <li>Worked on object oriented fundamentals with Java language.</li>
                    <li>Created fully deploy-able Android application.</li>
                    <li>Familiarized myself with using Android studios and GIMP.</li>
                    <li>Used VCS(GIT) to manage my projects.</li>
                </ul> 

                <h2>MineCraft Plug-in (Senior Capstone) <span>May 2020</span></h2>
                <ul>
                    <li><span>Github UI Link: </span><a href="https://github.com/ajaeminkim93/MC_UI"> https://github.com/ajaeminkim93/MC_UI</a></li>
                    <li><span>Github Backend Link: </span><a href="https://github.com/ajaeminkim93/AIMS_API"> https://github.com/ajaeminkim93/AIMS_API</a></li>
                    <br>
                    <li>Gained experience working in a agile, and improved teamwork skills.</li>
                    <li>Created a Minecraft plug-in and UI to run tournaments for Washington State University gaming conventions.</li>
                    <li>Created a web UI  using Angular, Node JS</li>
                    <li>Utilized GraphQL to extract information from our PostgreSQL database into our front end.</li>
                    <li>Used VCS(GIT) to manage my projects.</li>
                </ul> 
            </dd>
            
            <dd class="clear"></dd>
            <dt>Experience</dt>
            <dd>
                <h2>Teaching Assistant <span>@Washington State University from June 2020 - July 2020</span></h2>
                <ul>
                    <li>Reinforced coding concepts and C/C++ language to students.</li>
                    <li>Improved student participation by structuring lab curriculum, to best guide students through excellent hands-on learning.</li>
                    <li>Collaborated with faculty at weekly meetings to discuss student progress and methods of improvement.</li>
                </ul>
                
                <h2>Online Gaming Service (Owner) <span>June 2018 - Present</span></h2>
                <ul>
                    <li>Taught students how to think critically and be adaptive to various situations.</li>
                    <li>Motivate players to improve and work on strengthening any weak points.</li>
                    <li>Manage and train other coaches to ensure they provide the best quality coaching to our customers.</li>
                    <li>Provided exceptional customer service and adept communication skills.</li>
                </ul> 

                <h2>Department of Energy, PNNL CyberForce Competition <span>November 2019</span></h2>
                <ul>
                    <li>Protected various operating systems vs red team hackers.</li>
                    <li>Went through security checklists and secure our machines.</li>
                    <li>Used knowledge of exploits to prevent any unwanted intrusions.</li>
                </ul> 
            </dd>
            
            <dd class="clear"></dd>
            <dt>Soft Skills</dt>
            <dd>
                <li>Bilingual: English/Korean</li>
                <li>Leadership</li>
                <li>Self Motivation</li>
                <li>Teamwork</li>
                <li>Problem Solving</li>
                <li>Willingness to Learn</li>
                <li>Artistic</li>
            </dd>

            <dd class="clear"></dd>
            <dt>Hobbies</dt>
            <dd>
                <li>Music: Guitar, Piano, Keyboard, Drums</li>
                <li>Cooking</li>
                <li>Gaming</li>
                <li>Hiking</li>
            </dd>
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

</body>
